/* Home.css */
.home-page-container {
	padding: 20px;
	font-family: Arial, sans-serif;
  }
  
  .product-list-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 20px;
  }
  
  .product-card {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 15px;
	width: 250px; /* Adjust width as needed */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: transform 0.2s;
  }
  
  .product-card:hover {
	transform: scale(1.05);
  }
  
  .product-name {
	font-size: 1.2em;
	margin: 10px 0;
  }
  
  .product-description {
	font-size: 0.9em;
	color: #555;
  }
  
  .product-price {
	font-weight: bold;
	margin: 10px 0;
  }
  
  .product-availability {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
  }
  
  .availability-dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 5px;
  }
  
  .available-green {
	background-color: green;
  }
  
  .unavailable-red {
	background-color: red;
  }
  
  .product-buy-button {
	background-color: #007aff;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .product-buy-button:hover {
	background-color: #005bb5;
  }
  .product-buy-button:disabled {
	background-color: #ccc; /* Gray background for disabled button */
	color: #666; /* Gray text for disabled button */
	cursor: not-allowed; /* Change cursor to indicate it's not clickable */
  }